body {
  background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%)
    fixed;
}

/* .nav-link {
 
} */

.NavigationItems {
  /* background-color: #90AACB; */
  margin-top: 10px;
}

.Name {
  margin-top: 50px;
}

.PersonalInfo {
  text-align: center;
  color: #25161b;
  /* background-color: #90AACB; */
}

.Photo {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 20px;
  margin-top: 50px;
  width: 250px;
}

.About {
  margin-top: 50px;
  margin-bottom: 30px;
  color: #25161b;
}

/* certificates css */

.title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  background-color: #d6e6f2;
  color: #25161b;
}

.info-para {
  color: #25161b;
  text-align: justify;
}

.BasicsCert {
  width: 550px;
}
.FrontEndDevCert {
  width: 550px;
}

.ReactDevCert {
  width: 550px;
}

.iOSCert {
  width: 550px;
}

#certificate-rows {
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* projects css */

.project-language {
  text-align: center;
  margin: 50px;
  text-decoration: underline;
}

.project-title {
  color: #25161b;
  margin-top: 40px;
  margin-bottom: 30px;
}

.project-link {
  color: #1e549f;
  font-weight: bold;
}

.project-link:hover {
  color: #fbb040;
}

/* .project-detail {
  margin: 20px;
} */
