body {
  background: radial-gradient(circle at 10% 20%, rgb(239, 246, 249) 0%, rgb(206, 239, 253) 90%);
}


.NavigationItems {
  /* background-color: #90AACB; */
  margin-top: 10px;
}

.Name {
  margin-top: 50px;
}

.PersonalInfo {
  text-align: center;
  /* background-color: #90AACB; */
 
}

.Photo {
  border: 1px solid #DDD;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 20px;
  margin-top: 100px;
 width: 250px;
}

.About {
  margin-top: 50px;
  margin-bottom: 30px;
}

/* certificates css */

.title {
  text-align: center;
  margin: 50px;
}

.BasicsCert {
  width: 550px;
}
.FrontEndDevCert {
  width: 550px;
}

.ReactDevCert {
  width: 550px;
}

.iOSCert {
  width: 550px;
}

#certificate-rows {
  text-align: left;
  margin: 50px;
}





